@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

Body{
    font-family: 'Roboto Condensed';
    margin: 0;
    padding: 0;
}

.GN__nav--brand{
    color: #C739B4;
}

.GN__Promo{
    background-color: #C739B4;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.GN__banner{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    padding: 40px;
    box-sizing: border-box;
    background-clip: border-box;
    background-image: url(../img/banner.webp);
    background-size: cover;
    background-position: center;
    background-origin: padding-box;
}

/* .GN__banner::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(255, 220, 249, 0.3);
  z-index: 0;
}

.GN__banner > * {
  position: relative;
  z-index: 1;
} */


.GN__banner--textbox{
    margin-left: 50px;
}

.GN__banner--btn{
    background-color: #C739B4;
}

.GN__banner--text{
    width: 575px;
}

.GN__section1--box{
    width: 390px;
    height: 228px;
}

.GN__section2--box{
    width: 390px;
    height: 388px;
}

.GN__section2--img{
    width: 100%;
    height: 192px;
}

.GN__section2--price{
    color:#C739B4;
}

.GN__section2--text{
    font-size: 14px;
    color: #4B5563;
}

.GN__section3--box{
    background-color: #FDFDFD;
    width: 768px;
    height: 385px;
}

.GN__section3--textbox1{
    width: 336px;
    height: 132px;
}

.GN__section3--textbox2{
    width: 336px;
    height: 164px;
}

.GN__section3--icon{
    width: 33px;
    height: 28px;
}

.GN__section3--line{
    width: 705px;
    border-bottom: 1px solid #d6cbdb;
    margin-top: 100px;
}

.GN__section3--button{
    width: 212px;
    height: 48px;
    color: white;
    background-color: #C739B4;
}

.GN__section3--icon2{
    width: 25px;
    height: 24px;
}

.GN__section4--carousel{
    width: 70%;
    height: auto;
}

@media (max-width: 992px) {
    .GN__section1--box{
    width: 350px;
    }
    .GN__section2--img{
    height: 160px;
    }
    .GN__section2--box{
    width: 350px;
    height: 360px;
    }
    .GN__section3--box{
        width: 690px;
    }
}

@media (max-width: 576px) {
    .GN__banner--text {
        width: 350px;}
    .GN__section3--line {
        width: 320px;}
    .GN__section3--box{
        width: 370px;
        height: auto;}
    .GN__section1--box{
        width: 370px;}
    .GN__section2--box{
        width: 370px;}
    .GN__section3--textbox2{
        margin-top: 90px;
    }
}
